<template name="association">

    <section class="gray">
        <article class="container">
    <div class="start-content">
        <div id="form">

            <div id="basic-data" class="form-wizard active">
    <div class="form-group">
        <div class="form-left" id="locationField">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                <input id="autocomplete" placeholder="Indiquer votre lieu" class="form-control" onFocus="geolocate()" type="text">
            </div>
        </div>

        <div class="form-right">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                <input class="form-control" id="street_number"  disabled="true">
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="form-group">
        <div class="form-left" id="locationField">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                <input class="form-control" id="route" disabled="true">
            </div>
        </div>
        <div class="form-right">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>

                <input class="form-control"  id="locality" disabled="true">
            </div></div>
        <div class="clear"></div>
    </div>

    <div class="form-group">
        <div class="form-left">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>

                <input class="form-control" id="administrative_area_level_1" disabled="true">
            </div></div>
        <div class="form-right">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                <input class="form-control" id="postal_code" disabled="true">
            </div></div>
        <div class="clear"></div>
    </div>
    <div class="form-group">
        <div class="form-left">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                <input class="form-control" id="country" disabled="true">
            </div></div>
        <div class="clear"></div>
    </div>
          </div>
            </div>
        </div>
        </article>
        </section>

</template>
