<template name="addBook">
    <head>
        <style>
            :required {
                background: red;
            }
            input:required {
                box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
            }

            /**
             * style input elements that have a required
             * attribute and a focus state
             */
            input:required:focus {
                border: 1px solid red;
                outline: none;
            }
        </style>
    </head>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4 class="page-header">Add Your Favorite Book</h4>
            <form id="add-book">
                <div class="form-group" {{errorClass 'titre'}}>
                    <label for="bookTitle">Book Title</label>
                    <input type="text" name="bookTitle" class="form-control required">
                    <span class="help-block">{{errorMessage 'titre'}}</span>
                </div>
                <div class="form-group">
                    <label for="bookAuthor">Book Author</label>
                    <input type="text" name="bookAuthor" class="form-control required">
                </div>
                <div class="form-group">
                    <label for="whyFavorite">Why is this your favorite?</label>
                    <textarea name="whyFavorite" class="form-control required"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Add Favorite Book">
                </div>
            </form>
        </div>
    </div>
</template>