
<template name="demarrerProjet">
    <style>
        h2 {
            color: #54bbec;
            text-align: center;
            margin: 0;
            font: normal 62px/1.5 "Lobster", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        .recap-message {
            background: url(sep-paiement.png) repeat-x;
            height: 126px;
            overflow: hidden;
            text-align: center;
            font-size: 14px;
            color: #fff;
        }
        .recap-message.one-line {
            background: url('sep-recapne.png') repeat-x;
            height: 74px;
        }
        .recap-message--two-lines strong {
            margin-top: 36px;
        }
        .recap-message strong {
            font-size: 22px;
            display: block;
            margin: 22px 0 10px;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        }
        strong {
            font-style: inherit;
            font-weight: bold;
        }
        .form-group label.error {
            position: absolute;
            left: 0;
            top: 35px;
            color: red;
        }


        .help-block {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #ff252c;
        }
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }

        div.containerr {
            padding: 10px;
        }

        .documentList
        {
            overflow-x:auto;
            overflow-y:hidden;
            height:260px;
            width:100%;
            padding: 0 15px;
        }



        .list-inline {
            white-space:nowrap;
            padding-left: 7%;
        }
        .roww {
            margin-right: -110px;
            margin-left: -110px;
        }
        .tabbable-panel {
        border:1px solid #eee;
        padding: 1px;
    }


    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px;
    }


    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
    }
    .tabbable-line > .nav-tabs > li > a {
        border: 0;
        color: #737373;
    }
    .tabbable-line > .nav-tabs > li > a > i {
        color: #a6a6a6;
    }
    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid rgb(80,144,247);
    }
    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333333;
    }
    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
        color: #a6a6a6;
    }
    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px;
    }
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #32465B;
        position: relative;
    }
    .tabbable-line > .nav-tabs > li.active > a {
        border: 0;
        color: #333333;
    }
    .tabbable-line > .nav-tabs > li.active > a > i {
        color: #404040;
    }
    .tabbable-line > .tab-content {
        margin-top: -3px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eee;
        padding: 0px 0;
    }
    .portlet .tabbable-line > .tab-content {
        padding-bottom: 0;
    }
         .or{
             text-align: center;
         }
        .panell {

            background-color:#F1F1F1;
            border:1px solid transparent;
            -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
            box-shadow:0 1px 1px rgba(0,0,0,0.05);
            border-radius:2px;
        }

        .panell-heading {
            border-bottom:1px solid transparent;
            border-top-right-radius:3px;
            border-top-left-radius:3px;
            border-radius:2px 2px 0 0;
            text-align:center;
        }
    </style>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/css/custom-style.css">
    </head>
    <section class="header-bottom">
        <article>
            <div class="container"><h3>Demarrer Votre Projet</h3></div>
        </article>
    </section>
    <!-- ************************ Breadcrumbs ************************ -->
    <section class="breadcrumb">
        <article class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><span class="fa fa-home"></span>&nbsp; You are here:</li>
                        <li><a href="index-2.html">Home</a></li>
                        <li class="fa fa-angle-right"></li>
                        <li><a href="start.html">Start</a></li>
                    </ul>
                </div>
            </div>
        </article>
    </section>

    <!-- ************************ Page Content ************************ -->
    <section class="gray">
        <article class="container">

            <!-- ************************ Form Area Start ************************ -->

            <div class="start-project">
                <div class="title">
                    <ul>
                        <li data-link="basic-data" class="current"><a href="#"><i class="fa fa-pagelines"></i><span>Informations</span></a></li>
                        <li data-link="contre-parties" class=""><a href="#"><i class="fa fa-link"></i><span>Contreparties</span></a></li>
                        <li data-link="image" class=""><a href="#"><i class="fa fa-tags"></i><span>Média</span></a></li>
                        <li data-link="info-bancaire" class=""><a href="#"><i class="fa fa-file-image-o"></i><span>Info Bancaires</span></a></li>
                        <li data-link="compte" class=""><a href="#"><i class="fa fa-file-image-o"></i><span>Compte</span></a></li>
                    </ul>
                </div>
                <hr>

                <div class="start-content">
                    <div id="form">
                        <form id="inforBasic">
                            <div id="basic-data" class="form-wizard active">
                                <div class="recap-message recap-message--two-lines">
                                    <strong style="padding-top: 15px">Informations Basiques</strong>
                                </div>
                               <div class="form-group required" >
                                <div class="form-left" >
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                                        <input type="text" value="" class="form-control " placeholder="Titre du projet" name="titre" id="titre" data-toggle="popover" title="Titre du projet" data-content="Choisissez un nom de projet efficace et original qui représente clairement votre projet" data-placement="top">
                                    </div>

                                </div>

                                <div class="form-right" >
                                    <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-money"></i></span>
                                    <input type="number" id="montant" value="" class="form-control" placeholder="Montant" name="montant" data-toggle="popover" title="Popover title" data-content="Indiquez ici le montant de votre collecte" data-placement="top">
                                    </div>
                                    <span class="help-block"></span>
                                </div>

                                <div class="clear"></div>
                            </div>

                            <div class="form-group" >

                                <div class="form-left">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o"></i></span>
                                    <input type="number" value="" id="duree" class="form-control" placeholder="Durée de la collecte" name="duree" data-toggle="popover" title="Popover title" data-content="Indiquez ici la durée (en jours) de votre collecte. 60 jours maximum" data-placement="left">
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-right">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tags"></i></span>
                                    <select class="form-control arrow-down" name="category" id="categorie">
                                        <optgroup label="Art">
                                            <option value="Community">Art numérique</option>
                                            <option value="Education">Illustration</option>
                                            <option value="Environment">Installation</option>
                                            <option value="Food">Patrimoine</option>
                                            <option value="Health">Peinture</option>
                                            <option value="Health">Street art</option>
                                            <option value="Health">Performance</option>
                                        </optgroup>
                                        <optgroup label="Design et invention">
                                            <option value="Community">Graphique</option>
                                            <option value="Education">Objet</option>
                                            <option value="Environment">autre</option>
                                        </optgroup>


                                    </select>
                                        </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="form-group required">
                                <div class="form-left">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tags"></i></span>
                                        <select class="form-control arrow-down" name="devise" id="devise">
                                            <option value="Euro">Euro</option>
                                            <option value="Dollar">Dollar</option>
                                            <option value="Dinar">Dinar</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                </div>





                                <div class="recap-message recap-message--two-lines">
                                    <strong style="padding-top: 15px">Médias sociaux</strong>
                                </div>
                                <div class="form-group">
                                <div class="form-left">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-facebook-official"></i></span>
                                    <input type="url" value="" id="fb" class="form-control" placeholder="Facebook Url" name="fb">
                                        </div>
                                </div>
                                <div class="form-right">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter"></i></span>
                                    <input type="url" value="" id="twitter" class="form-control" placeholder="Twitter Url" name="tw">
                                        </div>
                                </div>
                                    <div class="clear"></div>
                                    </div>
                                <div class="form-group">
                                <div class="form-left">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-youtube-play"></i></span>
                                    <input type="url" value="" id="youtube" class="form-control" placeholder="Youtube Url" name="yt">
                                        </div>
                                </div>
                                <div class="form-right">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-sitemap"></i></span>
                                    <input type="url" value="" id="site" class="form-control" placeholder="Website Url" name="web">
                                        </div>
                                </div>
                                <div class="clear"></div>
                            </div>



                            <div class="form-group">
                                <div class="recap-message recap-message--two-lines">
                                    <strong style="padding-top: 15px">Description détaillée du projet</strong>
                                </div>
                                <div id="summernote"></div>
                            </div>

                            <div class="next-btn">
                                <input type="submit" id="nextcp" value="Sauvegarder et continuer" class="btn btn-4 blue" data-link="contre-parties" ></div>

                        </div>
                        </form>
                        <form id="contrePartie">
                        <div id="contre-parties" class="form-wizard">
                            <div class="recap-message recap-message--two-lines">
                                <strong>Vos contreparties</strong>
                                Choisissez trois au minimum
                            </div>

                                <div id="perk-elements">

                                    <div class="form-group required">
                                        <div class="form-left">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                                            <input type="text" id="nomcp" value="" class="form-control" placeholder="Nom de la contrepartie" name="nomcp"></div>
                                          </div>
                                        <div class="form-right">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-money"></i></span>
                                            <input type="text" id="montantcp" value="" class="form-control" placeholder="Montant" name="montantcp">
                                        </div>
                                            <span class="help-block"></span>
                                            </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="form-group required">
                                        <div class="form-left">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-users" aria-hidden="true"></i></span>
                                            <input type="text" id="qtcp" value="" class="form-control" placeholder="Quantité" name="qtcp">
                                       </div>
                                        </div>
                                        <div class="form-right">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                            <input class="form-control"  name="pickcp" id="pickerCP" placeholder="Date de livraison estimée" input="text" >                                        </div>
                                      </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="form-group">
                                        <textarea name="descriptioncp" id="descriptioncp" class="form-control" placeholder="Description"></textarea>
                                    </div>
                                </div>

                                <div id="add-more-perks"></div>

                                <div class="next-btn">
                                    {{#if count}}
                                    <button type="button" class="btn btn-5 green add-perk-btn" id="addcontrepartie">Ajouter</button>

                                    {{else }}
                                        {{# if countf}}

                                            <button type="button" class="btn btn-5 green add-perk-btn" id="addcontrepartie">Ajouter</button>
                                            <button type="button" class="btn btn-5 red add-perk-btn" id="suppcontrepartie">Supprimer</button>
                                         {{else }}
                                            <button type="button" class="btn btn-5 red add-perk-btn" id="suppcontrepartie">Supprimer</button>

                                        {{/if}}
                                        {{/if}}

                                    <button type="button" class="btn btn-5 blue" id="precedentbd" data-link="basic-data">Précedent</button>
                                    <input type="submit" value="Sauvegarder et continuer" class="btn btn-4 blue" data-link="image" id="nextimage">
                                </div>
                            </div>

                        </form>
                  <form id="photoCouverture">
                        <div id="image" class="form-wizard">
                            <div class="form-group">

                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading"><h2 class="panel-title">Photos de couverture défilantes</h2></div>


                                    <!-- List group -->
                                    <ul class="list-group">

                                        <li class="list-group-item">
                                            <div class="recap-message recap-message--two-lines">
                                                <strong>Informations personnelles</strong>
                                                Choisissez votre statut
                                            </div>
                                            {{#if compteur}}
                                            {{> upload_bootstrap callbacks=myCallbackss}}
                                            {{/if}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel">
                                    <h3>Vos images</h3>
                                    <p>

                                        {{> uploadedInfo}}

                                    </p>
                                </div>

                            </div>

                            <div class="next-btn" id="infobancaire">
                                <button type="button" class="btn btn-5 blue" data-link="contre-parties" id="predcp" >Précedent</button>
                                <input type="submit" value="sauvegarder et continuer" class="btn btn-4 blue" data-link="info-bancaire" >
                                <div class="clear"></div>
                            </div>
                        </div>
                  </form>
                        <form id="infobancaire">
                        <div id="info-bancaire" class="form-wizard">
                           <div class="recap-message recap-message--two-lines">
                              <strong>Informations personnelles</strong>
                              Choisissez votre statut
                          </div>




                            <div class="col-md-12">
                                                <div class="tabbable-line">
                                                    <ul class="nav nav-tabs" id="stat" >
                                                        <li class="active" >
                                                            <a id="tt required" href="#tab_default_1" data-toggle="tab" templat="association" name="association">
                                                                Association </a>
                                                        </li>
                                                        <li>
                                                            <a id="tt1" href="#tab_default_2" data-toggle="tab" templat="particulier">
                                                                Particulier </a>
                                                        </li>
                                                        <li >
                                                            <a id="tt2" href="#tab_default_3" data-toggle="tab" templat="entreprise">
                                                                Entreprise </a>
                                                        </li>

                                                    </ul>

                                                        {{> UI.dynamic template=template}}

                                                </div>


                                        </div>

                                <div class="next-btn">
                                <button type="button" class="btn btn-5 blue" data-link="image" id="imgpred" >Précedent</button>
                                <input type="submit" class="btn btn-4 blue" id="verifLogin" data-link="compte" >
                                    <div class="clear"></div>
                                </div>

                            </div>
                        </form>
                        <div id="compte" class="form-wizard">
                            <div class="form-group">
                                <div class="recap-message recap-message--two-lines">
                                    <strong>Merci de vous connecter pour poursuivre</strong>
                                </div>


                                    <section class="panell">
                                        <header class="panell-heading">
                                            <h2>Bienvenue</h2>
                                        </header>


                                        {{> _loginButtonsLoggedOutAllServices}}
                                    </section></div>


                            <div class="next-btn">
                                <button type="button" class="btn btn-5 blue" data-link="info-bancaire" id="ibpred" >Précedent</button>
                                <button type="submit" class="btn btn-4 blue">Sauvegarder et continuer</button>
                                <div class="clear"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- ************************ Form Area End ************************ -->

        </article>
    </section>
    <script>$('#duree').popover();
    $('#money').popover();
        $('#titre').popover();
    </script>
</template>

<template name="uploadedInfo">

    <div class="documentList">
        <ul class="list-inline">
            {{#each fichierss}}
                <li >
                    <div class="polaroid">




                    <a href="/upload/{{path}}" target="_blank"><img src="{{src}}" style="width:100%"></a><br/>
                    <div class="containerr">
                    <label>{{ name }}</label> <br/>
                    {{ size }} B<br>
                    {{#if _id}}
                        <a class="btn btn-danger deleteUpload">Supprimer</a>
                    {{/if}}
                        </div>
                    </div>
                </li>

            {{/each}}
        </ul>
    </div>
    <script>

        function moveform(btn, id)
        {
            console.log(btn);
            console.log(id);
            console.log($(this).css("display","block"))

            $('.form-wizard').each(function() {
                thisid = $(this).attr('id');
                console.log(thisid);
                ab=$( "#inforBasic" ).validate();
                if(thisid==id )
                {$(this).css("display","block");}
                else{$(this).css("display","none");}

            });

            thisDataLink = $(btn).attr('data-link');

            var formstep = 0;

            $('.start-project .title ul li').each(function() {
                if(formstep==0)
                {
                    if(thisDataLink==$(this).attr('data-link'))
                    {
                        formstep = 1;
                        $(this).addClass("current");
                    }
                    else
                    {
                        $(this).removeClass("current");
                        $(this).addClass("done");
                    }
                }
                else
                {
                    $(this).removeClass("done");
                    $(this).removeClass("current");
                    //	b=$(this).attr('data-link');

                }
            });
            //bou=$(btn).attr('image-vidoe');
            /*$('image-vidoe').click(function(e){
                e.stopPropagation();
            });*/

        }
    </script>


</template>


<template name="imageView">

    <div class="imageView">

        {{#each images}}
            <div>

                <a href="{{this.url}}" target="_blank"><img src="{{this.url store='medium'}}" alt="" class="thumbnail" /></a>
            </div>
        {{/each}}

    </div>



</template>


