<template name="entreprise">


        <head>
            <link rel="stylesheet" type="text/css" href="assets/css/shawdow.css">


        </head>

        <div class="start-content">

            <div class="form-group">
                <div class="form-left" >
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input name="nomEntreprise" placeholder="Nom de l'entreprise" class="form-control" type="text">
                    </div>
                </div>


                <div class="form-right" id="locationField">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="icon-map-marker"></i></span>
                        <input id="autocomplete" placeholder="Indiquer votre lieu" class="form-control" onFocus="geolocate()" type="text">

                    </div>
                </div>
                <div class="clear"></div>
            </div>





            <div class="form-group">


                <div class="form-left">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input type="text" name="numRueEntreprise" class="form-control" placeholder="Numéro de rue" id="street_number"  disabled="true">
                    </div>
                </div>
                <div class="form-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input type="text" name="routeEntreprise" class="form-control" placeholder="Route" id="route" disabled="true">
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="form-group">

                <div class="form-left">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>

                        <input type="text" name="localiteEntreprise" class="form-control"  placeholder="localité" id="locality" disabled="true">
                    </div></div>
                <div class="form-right">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>

                        <input type="text" name="villeEntreprise" class="form-control"  placeholder="Ville" id="administrative_area_level_1" disabled="true">
                    </div></div>
                <div class="clear"></div>
            </div>

            <div class="form-group">

                <div class="form-left">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input type="text" name="codePostalEntreprise" class="form-control" placeholder="Code postal" id="postal_code" disabled="true">
                    </div></div>
                <div class="form-group">
                    <div class="form-right">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                            <input class="form-control" placeholder="Pays" id="country" disabled="true" >
                        </div></div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="form-group">

                <div class="form-left">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" placeholder="Immatriculation / SIRET" >
                    </div></div>
                <div class="form-right">
                    <div class="input-group">
                        <span class="input-group-addon"  id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" placeholder="TVA Intracommunautaire"  >
                    </div></div>
                <div class="clear"></div>
            </div>

            <h6>Responsable de la collecte</h6>
            <div class="form-group">
                <div class="form-left">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" id="Prenom" placeholder="Prenom" input="text" >
                    </div></div>
                <div class="form-right">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" id="nom" placeholder="Nom" input="text" >
                    </div></div>
                <div class="clear"></div>
            </div>
            <div class="form-group">
                <div class="form-left">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" id="tel" placeholder="Téléphone" input="text" >
                    </div></div>

                <div class="form-right">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" id="IBAN" placeholder="IBAN" input="text" >
                    </div></div>
            <div class="clear"></div>
        </div>

            <div class="form-group">
                <div class="form-left">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i></span>
                        <input class="form-control" id="tel" placeholder="BIC / SWIFT" input="text" >
                    </div></div>
                <div class="clear"></div>
            </div>
            <h6>Les informations ci-dessous doivent être remplies pour que nous puissions vous transférer les fonds en cas de réussite de la collecte.</h6>
            <div class="form-group">

                <div class="form-left">
                    <div class="box effect7">
                        RIB :
                        Relevé d’Identité Bancaire édité par votre banque. Les captures d'écran ne sont pas acceptées.
                        <br><br><br>
                        {{#if Ribe }}
                            <span class="btn btn-default btn-file" id="ribe" >
    Ajouter <input type="file">
                      </span>
                        {{else}}
                            {{#each fichierse}}
                                <a href="{{url}}" target="_blank">{{original.name}}</a>   <a class="btn btn-danger deleteRibe">Supprimer</a>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>

                <div class="form-right">
                    <div class="box effect7">
                        Statuts :

                        Statuts de l'association dans leur intégralité.

                        PDF comprenant toutes les pages des statuts de l’association, signé par le président. Les compte-rendu d’AG et l'écriture manuscrite ne sont pas acceptés.
                        {{#if Statutse }}
                            <span class="btn btn-default btn-file" id="statutse" >
    Ajouter <input type="file">
                      </span>
                        {{else}}
                            {{#each fichiersStatutse}}
                                <a href="{{url}}" target="_blank">{{original.name}}</a>   <a class="btn btn-danger deleteStatutse">Supprimer</a>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="clear"></div>

            </div>
            <div class="form-group">

                <div class="form-left">
                    <div class="box effect7">

                        Immatriculation :
                        Récepissé de déclaration ou de modification de l'association édité par la préfecture. Les extraits du Journal Officiel ne sont pas acceptés.
                        <br><br>
                        {{#if Immatriculee }}
                            <span class="btn btn-default btn-file" id="immatriculee" >
    Ajouter <input type="file">
                      </span>
                        {{else}}
                            {{#each fichiersImmatriculee}}
                                <a href="{{url}}" target="_blank">{{original.name}}</a>   <a class="btn btn-danger deleteImmatriculee">Supprimer</a>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>

                <div class="form-right">
                    <div class="box effect7">
                        Carte nationale d’identité recto/verso ou passeport valide de toutes les personnes possédant au moins 25% des parts de l'entreprise..

                        <br />  Les permis de conduire ne sont pas acceptés.
                        <br><br>
                        {{#if Cine }}
                            <span class="btn btn-default btn-file" id="cine" >
    Ajouter <input type="file">
                      </span>
                        {{else}}
                            {{#each fichiersCine}}
                                <a href="{{url}}" target="_blank">{{original.name}}</a>   <a class="btn btn-danger deleteCine">Supprimer</a>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>


            </div>
            <div class="clear"></div>

        </div>

        <script>
            /**
             * Created by wael on 12/03/2016.
             */
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.
// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
            var placeSearch, autocomplete;
            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
            };
            function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                        {types: ['geocode']});
                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
            }
            function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();
                for (var component in componentForm) {
                    document.getElementById(component).value = '';
                    document.getElementById(component).disabled = false;
                }
                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentForm[addressType]) {
                        var val = place.address_components[i][componentForm[addressType]];
                        document.getElementById(addressType).value = val;
                    }
                }
            }
            // Bias the autocomplete object to the user's geographical location,
            // as supplied by the browser's 'navigator.geolocation' object.
            function geolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle({
                            center: geolocation,
                            radius: position.coords.accuracy
                        });
                        autocomplete.setBounds(circle.getBounds());
                    });
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMpeynhXl0nsyNxzBL4aNPjQq9ekG4Za4&libraries=places&callback=initAutocomplete" async defer></script>

    </template>
