<template name="fragment">
<div class="col-lg-3">
    <div class="popular-item">
        <figure class="project-image">
            <figcaption><a href="{{pathFor 'projetDetail'}}">View Details</a></figcaption>
            <div class="pslider">
                {{#each photoCouverture}}
                    <div class="slide"><img src="{{this}}" alt="img" /></div>
                {{/each}}
            </div>
        </figure>
        <div class="popular-content">
            <div class="project-desc">
                <h5><a href="#">{{basicInfo.titre}}<span class="line-green"></span></a></h5>
                <p>Pellentesque pharetra sapien non quam placerat vestibulum. Aliquam dignissim ex nec feugiat.</p>
            </div>
            <div class="popular-data"> <img src="{{photoProfil}}" alt="Funder" />
                <div class="pie_progress" role="progressbar" data-goal="{{pourcentage}}" data-barcolor="#34cc99" data-barsize="7.1">
                    <div class="pie_progress__number">0%</div>
                    <div class="pie_progress__label">Completed</div>
                </div>
            </div>
            <div class="popular-details">
                <ul>
                    <li><strong>12</strong> Days Left</li>
                    <li><strong>175</strong> Backers</li>
                    <li class="last"><strong>{{basicInfo.montant}}DT</strong> Funded</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</template>