<template name="fragment">

<div class="col-lg-3">
    <div class="popular-item">
        <figure class="project-image">
            <figcaption><a href="{{pathFor 'projetDetail'}}">Voir Details</a></figcaption>
                    <img src="{{photoCouvert _id}}" alt="img" />
        </figure>
        <div class="popular-content">
            <div class="project-desc">
                <h5><a href="#">{{basicInfo.titre}} <span class="line-green"></span></a></h5>
            </div>
            <div class="popular-data">
                {{#if photoProjetModif createurProjet}}
                    {{#each photoProjetModif createurProjet}}
                        <img src="{{url}}" alt="Funder" />
                    {{/each}}

                {{/if}}
                <div class="pie_progress" role="progressbar" data-goal="{{pourcent montantcollecter basicInfo.montant}}" data-barcolor="{{couleur montantcollecter basicInfo.montant}}" data-barsize="7.1">
                    <div class="pie_progress__number">0%</div>
                    <div class="pie_progress__label"></div>
                </div>
            </div>
            <div class="popular-details">
                <ul>
                    <li><strong>12</strong> Jours réstants</li>
                    <li><strong>{{participant _id}}</strong> {{pluralizeParticiapant _id "Particiapant"}}</li>
                    <li class="last"><strong>{{basicInfo.montant}}DT</strong> {{pluralizeFont basicInfo.montant "Collecté"}}</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

</template>