<template name="listProjets">
<style>
    h2.double-title {
        font-family: "Lobster","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: normal;
        color: #54bbec;
        font-size: 62px;
        line-height: 90px;
        text-align: center;
        text-shadow: #fff 0 1px 1px;
    }
</style>
<section class="header-bottom">
    <article>
        <div class="container">
            <h1>Projets</h1>
        </div>
    </article>
</section>
<section class="breadcrumb">
    <article class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <li><span class="fa fa-home"></span>&nbsp; Vous etes ici :</li>
                    <li><a href="/">Home</a></li>
                    <li class="fa fa-angle-right"></li>
                    <li>Projets</li>
                </ul>
            </div>
            <div class="col-lg-6 align-right sub-menu">
                <ul>
                    <!--<li><a href="projects-2.html">Trending</a></li>
                    <li><a href="projects-2.html">Final Countdown</a></li>
                    <li><a href="projects-2.html">New This Week</a></li>
                    <li><a href="projects-2.html">Most Funded</a></li>-->
                    <li id="filter-toggle"><i class="icon-search-projects"></i><strong>Recherche avancé</strong></li>
                </ul>
            </div>
        </div>
    </article>
</section>
<section class="white filter">
    <article class="container">
        <form >
            <fieldset>
                <div class="form-group">
                    <span class="filter-title">Recherche Avancé</span>
                </div>
                <div class="form-group">
                    <label for="categories"><strong>Categories</strong></label>
                    <select id="categorie" multiple="multiple">
                        <optgroup label="Art">
                            <option value="Art numérique">Art numérique</option>
                            <option value="Illustration">Illustration</option>
                            <option value="Installation">Installation</option>
                            <option value="Patrimoine">Patrimoine</option>
                            <option value="Peinture">Peinture</option>
                            <option value="Street art">Street art</option>
                            <option value="Performance">Performance</option>
                        </optgroup>
                        <optgroup label="Design et invention">
                            <option value="Graphique">Graphique</option>
                            <option value="Objet">Objet</option>
                            <option value="autre">autre</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="villes"><strong>Villes</strong></label>

                    <select id="ville" multiple="multiple">
                        <option value="cheese">Tunis</option>
                        <option value="tomatoes">Mahdia</option>
                        <option value="mozarella">Sousse</option>
                        <option value="mushrooms"></option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="pays"><strong>Pays</strong></label>
                    <select id="pays" multiple="multiple">
                        <option value="cheese">Tunisie</option>
                    </select>
                </div>
                <div class="form-group">
                    <label><strong>Pourcentage</strong></label>
                   <div>
                       <input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[0,1000]"/>
                   </div>
                </div>
            </fieldset>
        </form>
    </article>
</section>

<!-- Page Content -->
    {{#if recherche}}
        {{> UI.dynamic template=recherche}}
    {{else}}
        <section class="gray">
            {{#if rechercheC}}
                    <h2 class="double-title">Résultat de votre recherche</h2>

                {{/if}}
            <article class="container projects-page" id="popular">
        {{#if rechercheC}}
                <h3>{{rechercheC}}</h3>
        {{/if}}
                <div class="row">
                    {{#each listProjet}}
                        {{>Template.dynamic template='fragment' data=this}}
                    {{/each}}
                    <div class="clear"></div>
                </div>
            </article>
        </section>
        {{/if}}

</template>
<template name="ParCategorie">
    <style>
        h2.double-title {
            font-family: "Lobster","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-weight: normal;
            color: #54bbec;
            font-size: 62px;
            line-height: 90px;
            text-align: center;
            text-shadow: #fff 0 1px 1px;
        }
    </style>
    <section class="gray">
        <h2 class="double-title">Résultat de votre recherche</h2>
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetCateg}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>

<template name="ParVille">
    <style>
        h2.double-title {
            font-family: "Lobster","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-weight: normal;
            color: #54bbec;
            font-size: 62px;
            line-height: 90px;
            text-align: center;
            text-shadow: #fff 0 1px 1px;
        }
    </style>
    <section class="gray">
        <h2 class="double-title">Résultat de votre recherche</h2>
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetVille}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>

<template name="ParVilleCateg">
    <style>
        h2.double-title {
            font-family: "Lobster","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-weight: normal;
            color: #54bbec;
            font-size: 62px;
            line-height: 90px;
            text-align: center;
            text-shadow: #fff 0 1px 1px;
        }
    </style>
    <section class="gray">
        <h2 class="double-title">Résultat de votre recherche</h2>
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetVilleCateg}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>

<template name="ParPourcentage">
    <style>
        h2.double-title {
            font-family: "Lobster","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-weight: normal;
            color: #54bbec;
            font-size: 62px;
            line-height: 90px;
            text-align: center;
            text-shadow: #fff 0 1px 1px;
        }
    </style>
    <section class="gray">
        <h2 class="double-title">Résultat de votre recherche</h2>
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetPourcentage}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>

<template name="ParVilleCategPourcent">
    <style>
        h2.double-title {
            font-family: "Lobster","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-weight: normal;
            color: #54bbec;
            font-size: 62px;
            line-height: 90px;
            text-align: center;
            text-shadow: #fff 0 1px 1px;
        }
    </style>
    <section class="gray">
        <h2 class="double-title">Résultat de votre recherche</h2>
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetCVP}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>

<template name="ParVillePourcent">
    <section class="gray">
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetVP}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>

<template name="ParCategPourcent">
    <section class="gray">
        <article class="container projects-page" id="popular">
            <div class="row">
                {{#each listProjetCP}}
                    {{>Template.dynamic template='fragment' data=this}}
                {{/each}}
                <div class="clear"></div>
            </div>
        </article>
    </section>
</template>