<template name="profilUser">



    <div class="container" style="padding-top: 60px;">
        <h1 class="page-header">Edit Profile</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">



                    <h6>Uploader une nouvelle photo...</h6>



                               {{#if fichiersProfil}}
                            {{#each fichiersProfil}}
                                <img src="{{url}}" class="avatar img-circle img-thumbnail">
                            <a class="btn btn-danger deletePhotoProfil">Supprimer</a>
                            {{else}}
                                <span class="btn btn-default btn-file" id="photoProfil" >
    Ajouter une photo<input type="file">
                      </span>


                            {{/each}}

                      {{/if}}
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

                <h3>Information Personnelle</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Prenom:</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="prenomuser" name="prenom" value="{{infoProfil.profile.prenom}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nom:</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="nomuser" name="nom" value="{{infoProfil.profile.nom}}" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">ville:</label>
                        <div class="col-md-8">
                            <input class="form-control" id="villeuser" name="ville" value="{{infoProfil.profile.ville}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn btn-primary" id="enregistrermodifuser" value="Enregistrer" type="button">
                            <span></span>
                            <input class="btn btn-default" value="Annuler" type="reset">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>