<template name="projets">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/custom-style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

        <!-- Progressbar CSS -->
        <link rel="stylesheet" href="assets/js/pieprogress/css/rainbow.css">
        <link rel="stylesheet" href="assets/js/pieprogress/css/progress.css">

        <!-- Revolution Slider CSS -->
        <link rel="stylesheet" type="text/css" href="assets/js/slider-revolution/css/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="assets/js/slider-revolution/rs-plugin/css/settings.css" media="screen" />

        <!-- Carousels CSS -->
        <link rel="stylesheet" href="assets/js/bxslider/jquery.bxslider.css"  />


    </head>
    <section >
    <article class="container projects-page" id="popular">
        <div class="row">
            {{#each mesProjets}}

                {{>Template.dynamic template='fragment' data=this}}

            {{/each}}
            </div>
        </article>
        </section>

</template>