.contributors {
    min-width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}
.user-thumb {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #dcdcdc;
    overflow: hidden;
    position: relative;
}
.user-avatar img {
    display: block;
    width: 60px;
    height: 60px;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.user-thumb .name {
    padding-left: 5px;
    max-width: 385px;
}
.user-thumb .username {
    font-weight: 500;
    color: #4d4d4d;
    text-shadow: rgba(255,255,255,0.9) 0 1px 0;
    font-size: 18px;
}
.user-thumb .location {
    position: relative;
    font-size: 14px;
    padding-left: 15px;
    margin-top: 5px;
}
.user-thumb .location {
    position: relative;
    font-size: 14px;
    padding-left: 15px;
    margin-top: 5px;
}
.user-thumb .date-reward {
    margin-top: 5px;
    font-size: 13px;
    color: #999;
}
.user-thumb .contributed {
    color: #4d4d4d;
    font-size: 14px;
    padding-right: 5px;
}
.user-thumb .contributed .count {
    color: white;
    font-weight: bold;
    background-image: url('star.png');
    background-repeat: no-repeat;
    line-height: 45px;
    width: 40px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}
.user-thumb .contributed {
    color: #4d4d4d;
    font-size: 14px;
    padding-right: 5px;
}
.user-thumb .amount {
    background: rgba(0,0,0,0.03);
    text-align: center;
    line-height: 68px;
    font-size: 22px;
    min-width: 100px;
    color: rgba(35,175,203,0.9);
    text-shadow: 0 1px 0 white;
    padding: 5px 10px;
}




.user-thumb {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #dcdcdc;
    overflow: hidden;
    position: relative;
}


.owner{
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(84,187,236,0.7);
    background: rgba(84,187,236,0.4);
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}
h4 {
    margin-top: 20px;
}
.owner-links {
    text-align: center;
    margin: 10px 0;
}
.owner-links a {
    margin-right: 10px;
}
.button.small.edit-add {
    color: white;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    height: 31px;
    padding: 0 20px 0 35px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-shadow: #062a3a 0 1px 0px;
    border: 1px solid #3db2e9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    -moz-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    background: #54bbec;
}
.button.small.edit-add:before {
    content: "&";
    position: absolute;
    -webkit-font-smoothing: antialiased;
    left: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Pictos";
}
#rewards .reward {
    padding: 10px;
    border-bottom: 1px dotted #bdbdbd;
    cursor: pointer;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    overflow: hidden;
    position: relative;
}
h3 {
    font-size: 18px;
    line-height: 36px;
}
#rewards .reward h3 a, #rewards .reward h3 span {
    color: #000;
    font-size: 26px;
    font-weight: 300;
}
#rewards .reward .desc, #rewards .reward .shipping {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5em;
}
#rewards .reward .highlight {
    position: absolute;
    left: 335px;
    margin-top: 7px;
    white-space: nowrap;
    -webkit-transition: left 0.3s linear;
    -webkit-transition-delay: 0.2s;
    -moz-transition: left 0.3s linear 0.2s;
    -o-transition: left 0.3s linear 0.2s;
    transition: left 0.3s linear 0.2s;
}
#rewards .reward .highlight:before {
    content: '';
    position: absolute;
    left: -33px;
    background: url(https://d3v4jsc54141g1.cloudfront.net/assets/gift-box-2ce499b97faf7178a26bcbad0fc91cf3.png) no-repeat;
    width: 27px;
    height: 30px;
}
#rewards .reward .highlight a.gift-text {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
    color: #404040;
    -webkit-transition: color 0.1s ease-out,background 0.1s ease-out;
    -webkit-transition-delay: 0.1s,0.1s;
    -moz-transition: color 0.1s ease-out 0.1s,background 0.1s ease-out 0.1s;
    -o-transition: color 0.1s ease-out 0.1s,background 0.1s ease-out 0.1s;
    transition: color 0.1s ease-out 0.1s,background 0.1s ease-out 0.1s;
}
#rewards .reward .highlight a {
    float: left;
}
#rewards .reward .quantity {
    margin: 15px 0 5px 0;
    font-size: 15px;
    font-weight: 300;
    background: url(https://d3v4jsc54141g1.cloudfront.net/assets/reward-7f55bba3f77bf690195e7bb2572362b2.png) left top no-repeat;
    padding: 0 0 0 30px;
    -webkit-transition: margin 0.1s linear;
    -webkit-transition-delay: 0.5s;
    -moz-transition: margin 0.1s linear 0.5s;
    -o-transition: margin 0.1s linear 0.5s;
    transition: margin 0.1s linear 0.5s;
}
#rewards .reward .quantity span {
    float: right;
}
.comment .text, span, a {
    word-wrap: break-word;
}
#rewards .reward .desc, #rewards .reward .shipping {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5em;
}


#owner-panel {
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(84,187,236,0.7);
    background: rgba(84,187,236,0.4);
    margin: 0 0 10px 0;
    overflow: hidden;
    position: relative;
}

div {
    display: block;
}
#owner-panel .content {
    overflow: hidden;
}
#owner-panel .alert-infos {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 540px;
    margin: 0;
}
#owner-panel .alert-actions {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 380px;
    margin-right: 0;
    text-align: right;
    float: right;
}
#owner-panel .alert-actions a {
    margin: 0 5px 10px;
}

.button.small.edit-trash {
    color: white;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    height: 31px;
    padding: 0 20px 0 35px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-shadow: #062a3a 0 1px 0px;
    border: 1px solid #3db2e9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    -moz-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    background: #54bbec;
}

.button.small {
    color: white;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    height: 31px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-shadow: #116b96 0 1px 0px;
    border: 1px solid #99d6f4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #cbeaf9 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    -moz-box-shadow: #cbeaf9 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    box-shadow: #cbeaf9 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    background: #b0e0f6;
}
button.small.edit-trash:before {
    content: "#";
    position: absolute;
    -webkit-font-smoothing: antialiased;
    left: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Pictos";
}
.selector, .checker, .button, .radio {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
}
.button.small.edit-contract:before {
    content: "F";
    position: absolute;
    -webkit-font-smoothing: antialiased;
    left: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Pictos";
}
.button.small.edit-contract {
    color: white;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    height: 31px;
    padding: 0 20px 0 35px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-shadow: #062a3a 0 1px 0px;
    border: 1px solid #3db2e9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    -moz-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    background: #54bbec;
}


#owner-panel .requirements {
    clear: both;
}
#owner-panel h4 {
    color: #168cc4;
    text-shadow: 0 1px 0 #f5fbfe;
    font-size: 20px;
    font-weight: normal;
}
h4 {
    line-height: 36px;
}
p {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
    word-wrap: break-word;
}
#owner-panel .requirements ul li {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-shadow: 0 1px 0 #f5fbfe;
    position: relative;
}
#owner-panel .requirements ul li a {
    text-decoration: none;
    color: #000000;

}
a {
    color: #54bbec;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: disc;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

.comment .text, span, a {
    word-wrap: break-word;
}
#owner-panel .requirements ul li.ok:before {
    background: url(https://d3v4jsc54141g1.cloudfront.net/assets/checklist-s5937aac519-89ba26e20e2601ad3bb31843add22478.png) 0 -16px no-repeat;
}
#owner-panel .requirements ul li:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    left: -24px;
    background: url(https://d3v4jsc54141g1.cloudfront.net/assets/checklist-s5937aac519-89ba26e20e2601ad3bb31843add22478.png) 0 0 no-repeat;
}




ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#owner-panel .progression {
    padding: 0 0 0 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    min-height: 37px;
    text-shadow: 0 1px 0 #f5fbfe;
    background-image: url(https://d3v4jsc54141g1.cloudfront.net/assets/advice/orange_37x37-1230cf0367fb135dc196c493dcb6e83f.png);
    background-repeat: no-repeat;
    background-position: left center;
}
strong {
    font-style: inherit;
    font-weight: bold;
}
.sidebar .info {
    padding: 10px;
    background: #fff;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin: 0 20px;
}
.sidebar .info {
    text-align: center;
}
.sidebar .info:before {
    content: '';
    height: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 20px;
    bottom: -8px;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.sidebar .info .button.small {
    width: 100%;
}
.button.small.edit {
    color: white;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    height: 31px;
    padding: 0 20px 0 35px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-shadow: #062a3a 0 1px 0px;
    border: 1px solid #3db2e9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    -moz-box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    box-shadow: #70c6ef 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 1px;
    background: #54bbec;
}
