<template name="notifications">
    <style>

       .x .bubble {
            background: #e02424;
            float: right;
            margin-top: -12px;
            right: 1px;
            top: -9px;
            padding: 2px 6px;
            color: #fff;
            font: bold .9em Tahoma, Arial, Helvetica;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
    </style>
   <li class="x"> <a href="#">
        Notifications
        {{#if notificationCount}}
            <div class="bubble">{{notificationCount}}</div>

        {{/if}}

        <span>Vos notifications</span>
    </a>
    <ul>
        {{#if notificationCount}}
            {{#each notifications}}
                {{> notificationItem}}
            {{/each}}
        {{else}}
            <li><span>Pas de Notifications</span></li>
        {{/if}}
    </ul>
   </li>
</template>

<template name="notificationItem">
    <li>
        <a href="{{notificationPostPath}}">
            <strong>{{notifierName}}</strong> {{sujet}}
        </a>
    </li>
</template>